<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trafico</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="container">
    <section id="top">
      <header class="top_header">
        <div class="top_logo">
          <img class="top_logo_img" src="/image/logo.svg" alt="trafico" title="trafico" />
        </div>

        <nav class="top_navigation">
          <ul class="top_navigation_menu">
            <li><a class="top_menu_item" href="#about">About</a></li>
            <li><a class="top_menu_item" href="#how-to">How To</a></li>
            <li><a class="top_menu_item" href="#faq">FAQ</a></li>
            <li>
              <a class="top_menu_item featured" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="top_content">
        <div class="hero_content">
          <span>Your awesome traffic permit consultant.</span>
          <button class="get_started_btn top_btn" type="button">
            Get Started
          </button>
          <img src="/image/mobel.svg" alt="" class="mobel_hero">
        </div>
        <div class="top_log_scene">
          <img class="top_log_scene_img" src="/image/scene_log.svg" alt="" />
        </div>
      </div>
    </section>

    <section class="content_section" id="about">
      <div class="section_content">
        <h2 class="section_title">About us</h2>
        <p class="section_text">
          The occupational traffic permit is one of the most important things
          in the company when carrying out freight transport. In fact, it is a
          prerequisite for doing business traffic at all.
        </p>
        <div class="about_alert">
          <p class="about_alert_text">
            How do you do when you need to obtain a commercial traffic permit
            for freight transport to your business?
          </p>
        </div>
      </div>
      <div class="section_image_container">
        <img class="section_image" src="/image/About-us-image.svg" alt="About Us" />
      </div>
    </section>
    <section class="content_section" id="how-to">
      <div class="section_image_container">
        <img class="section_image" src="/image/how-to-apply-image.svg" alt="About Us" />
      </div>
      <div class="section_content">
        <h2 class="section_title">How to apply</h2>
        <p class="section_text">
          When applying for a traffic permit, there are certain requirements
          that you must meet that are included in the examination:
          requirements for professional knowledge, solid establishment, good
          reputation and financial resources. Important to remember is to
          confirm your application for a traffic permit by the company's
          company signer or CEO.
        </p>
      </div>
    </section>
    <section id="faq">
      <div class="faq_header">
        <div class="faq_header_content">
          <h2 class="section_title">FAQ</h2>
          <span class="section_subtitle">Questions and Answers on Professional Traffic Permits:</span>
        </div>
        <div clas="faq_header_image_container">
          <img class="faq_header_image" src="/image/faq-image.svg" alt="" />
        </div>
      </div>
      <div class="faq-content">
        <details class="faq-question">
          <summary>What is a professional traffic permit?</summary>
          <p>
            Traffic permits are a requirement for conducting professional
            traffic.
          </p>
        </details>
        <details class="faq-question">
          <summary>How to check the traffic condition?</summary>
          <p>
            reprehenderit eligendi, beatae ullam numquam deleniti suscipit
            recusandae maxime, officiis debitis architecto! Dolores ad facere
            nam dolorum cupiditate.
          </p>
        </details>
        <details class="faq-question">
          <summary>
            3 What are the requirements for a professional traffic permit?
          </summary>
          <p>
            reprehenderit eligendi, beatae ullam numquam deleniti suscipit
            recusandae maxime, officiis debitis architecto! Dolores ad facere
            nam dolorum cupiditate.
          </p>
        </details>
        <details class="faq-question">
          <summary>
            Traffic permits are a requirement for conducting professional
            traffic.
          </summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur modi enim officia inventore dignissimos cumque rerum,
            nam consequatur voluptatibus quos iusto maiores ullam illo.
            Facilis laborum nulla deserunt. Pariatur, cupiditate!
          </p>
        </details>
        <details class="faq-question">
          <summary>When is a professional traffic permit needed?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur modi enim officia inventore dignissimos cumque rerum,
            nam consequatur voluptatibus quos iusto maiores ullam illo.
            Facilis laborum nulla deserunt. Pariatur, cupiditate!
          </p>
        </details>
        <details class="faq-question">
          <summary>
            Are there differences between a traffic permit and a professional
            traffic permit?
          </summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur modi enim officia inventore dignissimos cumque rerum,
            nam consequatur voluptatibus quos iusto maiores ullam illo.
            Facilis laborum nulla deserunt. Pariatur, cupiditate!
          </p>
        </details>
        <details class="faq-question">
          <summary>
            How much does a commercial traffic permit cost for goods?
          </summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur modi enim officia inventore dignissimos cumque rerum,
            nam consequatur voluptatibus quos iusto maiores ullam illo.
            Facilis laborum nulla deserunt. Pariatur, cupiditate!
          </p>
        </details>
        <details class="faq-question">
          <summary>How to plug in for the traffic permit test?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur modi enim officia inventore dignissimos cumque rerum,
            nam consequatur voluptatibus quos iusto maiores ullam illo.
            Facilis laborum nulla deserunt. Pariatur, cupiditate!
          </p>
        </details>
         <div> 
        <!--   -->
      </div>
      <button class="faq_load_more_btn">Load More</button>
      </div>
     
  </div>
  </section>
  <section id="testimonials">
    <div class="testimonials_header">
      <div class="section_title">About us</div>
      <div class="testimonials_arrows">
        <div class="swiper-button-prev button-prev"></div>
        <div class="swiper-button-next button-next"></div>
      </div>
    </div>
    <div class="testimonials_content">
      <div class="section_subtitle">Our Awesome Clients</div>
      <div class="swipper my_testimonials">
        <div class="swiper-wrapper testimonials_slider">
          <div class="swiper-slide">
            <p class="testimonial_text">
              Yes, you will need to have the land owner sign the permit
              application as the Permittee, and you sign the permit as the
              Applicant or Agent for the Permittee.
            </p>
            <div class="testimonial_details">
              <img class="testimonial_image" src="/image/person_1.png" alt="Isak Pettersson" />
              <span class="testimonial_name">Isak Pettersson</span>
            </div>
          </div>
          <div class="swiper-slide">
            <p class="testimonial_text">
              From most barricade or traffic control companies located in
              the phone book. They employ certified Traffic Control
              Supervisors (TCS) who can generate and certify the traffic
              control plan.
            </p>
            <div class="testimonial_details">
              <img class="testimonial_image" src="/image/person_2.png" alt="Simon Sandberg " />
              <span class="testimonial_name">Simon Sandberg</span>
            </div>
          </div>
          <div class="swiper-slide">
            <p class="testimonial_text">
              An A-Line, or access restriction deed is a property right that
              has been obtained by CDOT for the sole purpose of prohibiting
              direct
            </p>
            <div class="testimonial_details">
              <img class="testimonial_image" src="/image/person_3.png" alt="Isak Pettersson" />
              <span class="testimonial_name">Isak Petterson</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer_top">
      <div class="footer_top_container">
        <div class="footer_top_col1">
          <span>
            We provide traffic management consultants so you get started
            quickly, contact us for a quote today!
          </span>
        </div>
        <div class="contact_top_col2">
          <% if(typeof(errors)!== 'undefined'){%>
          <div id="error-modal"class="errors_container">
            <div id="close-alert" onclick="closeErrorModal()" class="close_errors">
            </div>
       <div class="errors_box">
              <span class="errors_title"> Ops, it is not possible to send your message.<br/>
The following errors found:</span>
            <ul class="errors_list">
              <% errors.forEach((error)=>{%>
              <li class="error_item"><%=error.msg%></li>
              <%})%>
            </ul>
       </div>
          </div>
          <%}%>
              <form id="contact" class="contact-form" action="/" method="POST">
                <label for="name">
                  <p>Name</p>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Your Name"
                  />
                </label>
                <label for="email">
                  <p>Email address</p>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Your email address"
                  />
                </label>
                <label for="message">
                  <p>Message</p>
                  <textarea
                    rows="2"
                    name="message"
                    id="message"
                    placeholder="What items do you want to transport?"
                  ></textarea>
                </label>
                <button type="submit" class="btn_default get_started_btn btm">
                  Get Started <i class="get_started_icon"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="footer_top_menu">
            <img class="footer_logo" src="/image/logo.svg" alt="Trafico" />
            <nav class="footer_menu">
              <ul class="footer_menu_content">
                <li class="footer_menu_item">
                  <a class="footer_menu_link" href="#about">About</a>
                </li>
                <li class="footer_menu_item">
                  <a class="footer_menu_link" href="#how-to">How to</a>
                </li>
                <li class="footer_menu_item">
                  <a class="footer_menu_link" href="#faq">FAQS</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="footer_bottom">
          <span class="footer_bottom_copyright"> Copyright &copy; 2021 </span>
          <ul class="footer_social_media">
            <li class="footer_social_media_item">
              <a href="#" class="footer_link facebook"></a>
            </li>
            <li class="footer_social_media_item">
              <a href="#" class="footer-link twitter"></a>
            </li>
            <li class="footer_social_media_item">
              <a href="#" class="footer_link instagram"></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <!--  container -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- <script src="/script.js"></script> -->
    <script>
      const swiper = new Swiper(".my_testimonials", {
        direction: "horizontal",
        loop: true,
        slidesPerView: "auto",
        spaceBetween: 15,

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      // const closeAlert = document.getElementById('close-alert');
      const errorModal = document.getElementById('error-modal');
      function closeErrorModal(){
        errorModal.classList.add('hide')
      }
   </script>
  </body>
</html>